<div class="">
    <div class="staticMapContainer full_width full_height" data-dojo-attach-point="staticMapContainer" >
        <div class="col-lg-9 static-result-image" data-dojo-attach-point="map"></div>
    </div>
    <div data-dojo-attach-point="panelContent" class="stateful req-open color-primary">
        <div data-dojo-attach-point="titleArea">
            <form class="form-inline">
                <button type="button" class="btn btn-primary btn-sm" data-dojo-attach-point="addCriteriaButton">Add Criteria</button>
                <button type="button" class="btn btn-primary btn-sm" data-dojo-attach-point="M_restore_btn">M</button>
                <button type="button" class="btn btn-primary btn-sm" data-dojo-attach-point="M_add_btn">M+</button>
                <button type="button" class="btn btn-danger btn-sm" data-dojo-attach-point="M_sub_btn">M-</button>
                <button type="button" class="btn btn-danger btn-sm" data-dojo-attach-point="M_clear_btn">MC</button>
                <div class="form-check inline">
                    <input type="checkbox" class="form-check-input" data-dojo-attach-point="limit_cb">
                    <label class="form-check-label">Limit to map area</label>
                </div>                
            </form>
        </div>
        <div class="row">
            <div class="criteria-container" data-dojo-attach-point="criteriaContainer"></div>
        </div>
        <span data-dojo-attach-point="navOptions" class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-sm btn-primary" data-dojo-attach-point="wholeLayer_btn">
                <input name="bboxMode"  type="radio" autocomplete="off" >
                <span title="Navigate to whole layer arae" class="stateful req-open" >Whole <u>L</u>ayer</span>
                <span title="Navigate to whole layer area" class="stateful req-closed">L</span></label>
            <label class="btn btn-sm btn-primary" data-dojo-attach-point="allResults_btn">
                <input name="bboxMode"  type="radio"  autocomplete="off">
                <span title="Navigate to all results" class="stateful req-open"><u>A</u>ll Results</span>
                <span title="Navigate to all results" class="stateful req-closed">A</span>                
            </label>
            <label class="btn btn-sm btn-primary" data-dojo-attach-point="currentResults_btn" >
                <input name="bboxMode"  type="radio" autocomplete="off">
                <span title="Navigate to currently listed results" class="stateful req-closed">C</span>
                <span title="Navigate to currently listed results" class="stateful req-open"><u>C</u>urrent Results</span>
            </label>
        </span>

    </div>
</div>