<div data-dojo-attach-point="div" data-rows="5" class="form-group">
    <label data-dojo-attach-point="label" class="flex-item same control-label" for="textinput">Button Drop Down</label>
    <div class="flex-container flex-item same">
        <div class="flex-container flex-item input-group row">
            <input data-dojo-attach-point="textinput" name="textinput" class="flex-item no-grow form-control" placeholder="placeholder" type="text">
            <div class="flex-item input-group-btn">
                <button data-dojo-attach-point="buttontext" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></button>
                <ul data-dojo-attach-point="optionlist" class="dropdown-menu pull-right"></ul>
            </div>
        </div>
    </div>
</div>