<div>
    <div class="catalog-header flex-item flex-container no-grow panel1 hidden">
        <label class="flex-item" data-dojo-attach-point="label" for="sel1">Select list:</label>
        <select class="flex-item" data-dojo-attach-point="options" id="sel1"></select>
    </div>
    <div class="flex-item flex-container panel2">
        <div data-dojo-attach-point="viewManager" data-dojo-type="sl_components_open/view_manager/ViewManager">
            <div data-dojo-type="sl_components_open/layer_view/LayerView" data-view="layers_list"></div>
            <!--<div class="flex-item testmap" data-view="maps_list"></div>-->
        </div>
    </div>
</div>