<div class="form-group">
	<label data-dojo-attach-point="label" class="flex-item same" for="singlebutton">Single Button</label>
	<div class="flex-item same">
		<button data-dojo-attach-point="singlebutton" name="singlebutton" type="button" class="btn btn-primary">Button</button>
	</div>
</div>
