<div class="panel">
    <div  class="heading-container font-secondary">
        <span class="heading" data-dojo-attach-point="heading"></span><div class="heading-right pull-right" data-dojo-attach-point="heading_right"></div>   
    </div>    
    <div data-dojo-attach-point='containerNode'>  
    </div>
</div>