<div class="form-group">
    <label class="col-md-4 control-label" data-dojo-attach-point="label">Select Basic</label>
    <div class="col-md-8">
        <div data-dojo-attach-point="checkboxGroup_readonly" class="stateful req_data_entry-readonly"></div>
        <div class="input-group stateful req_data_entry-edit">
            <div data-dojo-attach-point="cbContainer"></div>
        </div>
        <span data-dojo-attach-point="help" class="help-block">help</span>
        <!--<span data-dojo-attach-point="help" class="help-block">help</span>-->
    </div>
</div> 