@font-face {
    font-family: Raleway-ExtraBold;
    src: url("code/fonts/raleway/Raleway-ExtraBold.ttf");
}

.sl_item.icon.map{background-image: url("code/media/icons/Places-30_24x24.png");}
.sl_item.icon.setting{background-image: url("code/media/icons/Setting-10_24x24.png");}
.sl_item.icon.info{background-image: url("code/media/icons/Interface-58_24x24.png");}
.sl_item.icon.sharing{background-image: url("code/media/icons/Communication-33_24x24.png");}	
.sl_item.icon.message{background-image: url("code/media/icons/Communication-81_24x24.png");}	
.sl_item.icon.bookmark{background-image: url("code/media/icons/Vote-5_24x24.png");}
.sl_item.icon.download{background-image: url("code/media/icons/Files-6_24x24.png");}
.sl_item.icon.rss{background-image: url("code/media/icons/Communication-34_24x24.png")}
.sl_item.icon.classify{background-image: url("code/media/icons/Design-12_24x24.png")}

.sl_comms.icon.comments{background-image: url("code/media/icons/Communications-79_24x24.png");}
.sl_comms.icon.requests{background-image: url("code/media/icons/Interface-56_24x24.png");}
.sl_comms.icon.problems{background-image: url("code/media/icons/Interface-59_24x24.png");}	

.sl_priv.icon.view{background-image: url("code/media/icons/Edition-24_24x24.png");}
.sl_priv.icon.edit{background-image: url("code/media/icons/Edition-30_24x24.png");}
.sl_priv.icon.owner{background-image: url("code/media/icons/Edition-56_24x24.png");}
.sl_priv.icon.none{background-image: url("code/media/icons/Edition-55_24x24.png");}
.sl_priv.icon.lpa{background-image: url("code/media/icons/Edition-65_24x24.png");}

.sl_prob_atch.icon.files{background-image: url("code/media/icons/Files-27_24x24.png");}
.sl_prob_atch.icon.notes{background-image: url("code/media/icons/Content-20_24x24.png");}
.sl_prob_atch.icon.links{background-image: url("code/media/icons/Edition-53_24x24.png");}		

.sl_issue_status.icon.pending{background-image: url("code/media/icons/Communication-58_24x24.png");}
.sl_issue_status.icon.active{background-image: url("code/media/icons/Setting-5_24x24.png");}
.sl_issue_status.icon.complete{background-image: url("code/media/icons/Status-1_24x24.png");}
.sl_issue_status.icon.nofix{background-image: url("code/media/icons/Edition-39_24x24.png");}

.sl_victim.icon.user{background-image: url("code/media/icons/Users-1_24x24.png");}
.sl_victim.icon.group{background-image: url("code/media/icons/Users-21_24x24.png");}

/*label {
    font-size: 1.1em;
    font-family: 'Roboto-Bold', sans-serif;
    margin: 0;
}
div {
    font-family: 'Roboto-Light', sans-serif;
}*/

body.tundra {
    background:transparent;
}
.alignment_ico {
    background-image: url("code/media/alignment.png");	
    width:16px;
    height:16px;
    border: none;;
    border-collapse: collapse;
}

.alignment_ico.left {
    background-position: 0px 0px;
}

.alignment_ico.center {
    background-position: 0px -16px;
}

.alignment_ico.right {
    background-position: 0px -32px;
}

.widget-off,
.hidden {
    display: none;
}

.invis {
    visibility: hidden;
}

.widget-on {    
}

span.icon {
    width: 24px;
    height: 24px;
    margin-top: 5px !important;
    display:inline-block;
}

span.icon.sl_save { background-image: url(media/icons/Communication-58_24x24.png); }
span.icon.sl_features { background-image: url(media/icons/Content-44_24x24.png); }
span.icon.sl_attributes { background-image: url(media/icons/Communication-41_24x24.png); }
span.icon.sl_classification { background-image: url(media/icons/Design-16_24x24.png); }
span.icon.sl_info { background-image: url(media/icons/Interface-58_24x24.png); }
span.icon.sl_return { background-image: url(media/icons/Interface-1_24x24.png); }
.hi{
    
}
button.sm span {
    padding-top: 10px;
}
button.sm {
    padding: 0px 5px 0px 5px;;
    margin: 0px;
}

.btn {
    //-moz-border-radius: 8px !important;
    //border-radius: 8px !important;	
}
button.icon-button {
    width:48px;
    height:48px;
    padding:0px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    margin-left: 10px;
}

.maps_list {
    background-color: #FA0;
}

/*.preview-top {
    z-index: 22;
    background-color: #5f5f5f;
    position: relative;
    -webkit-box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.75);
}
.preview-bottom {
    position: relative;
}
.preview-top hr {
    margin: 0;
}

.preview-heading-padding{
    padding: 0px;
}
.preview-heading-left {
    text-align: left;

    float: left;
    position: relative;
    min-height: 1px;
    width: calc(100% - 292.22px);
}
.preview-layername_text {
    font-family: 'Raleway-ExtraBold', sans-serif;
    font-size: 3.2em;
    padding: 25px 0 25px 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #fff;
}

.preview-heading-right {
    padding: 32.5px 25px 32.5px 25px;

    text-align: right;
    float: right;
    position: relative;
    min-height: 1px;
    width: 292.22px;
}

.preview_manager {
    padding: 0;
    display: flex;
    overflow: hidden;
    height: calc(100vh - 113px);
    flex: 0 1 auto;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.info-left {
    min-width: 444px;
    width: 35%;
    float: left;
    min-height: 1px;
    position: relative;
    padding: 0 40px;
}
.info-right {
    width: calc(100% - 444px);
    max-width: calc(100% - 35%);
    float: right;
    min-height: 1px;
    position: relative;
    padding: 20px 25px 0;
}

.preview_image {
    border: 2px solid black;
}

.preview_info_tags {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: auto;
    margin: 8px 10px 25px;
    font-size: 1.1em;
}

.preview_info_description {
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow: auto;
    margin: 8px 10px 25px;
    font-size: 1.1em;
}

.preview_info_select {
    width: 360px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;
}

.bbox-label {
    font-family: 'Roboto-Medium', sans-serif;
    width: 50%;
    display: inline-block;
    float: left;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.bbox-coord {
    width: 50%;
    text-align: left;
    display: inline-block;
    float: right;
    font-size: 1.2em;
}
.preview_info_bbox {
    width: 55%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    resize: none;
}

.preview_view {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    height: 100%;

    padding: 15px 15px 0 15px;
}*/

.inline {
    display: inline-block;
}






/*.feature-footing {
    padding: 15px 0;
    position: relative;
    z-index: 19;
    -webkit-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.75);
}

.feature-color{
    background: #dedede;
}

.feature_left-header label {
    margin-left: 10px;
    font-size: 1.2em;
}
.feature_left-header {
    padding-right: 0;
    width: 150px;
    float: left;
    padding-left: 20px;
}
.feature_right-header {
    padding-left: 0;
    max-width: calc(100% - 150px);
    float: right;
    padding-right: 20px;
}

.features_view.preview_view.preview_features, .feature_view.preview_view.preview_feature {
    padding: 0;
}

.features-grid-bottom .grid-container {
    background-color: #202527;
}

.features-top {
    padding: 15px 0;
    position: relative;
    z-index: 19;
    -webkit-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.75);
}

.features_left-header {
    padding-right: 0;
    width: 387px;
    float: left;
    padding-left: 20px;
}
.features_right-header {
    padding-left: 0;
    max-width: calc(100% - 387px);
    float: right;
    padding-right: 20px;
}

.record_text {
    margin: 0;
    margin-right: 5px;
    display: inline;
    font-size: 1.1em;
}

.info-modified {
    margin: 5px 0 20px;
    font-size: 1.2em;
}
.info-description {
    font-size: 1.2em;
}
.info-tags {
    font-size: 1.2em;
}

hr {
    border-color: #000;
    margin: 0;
    margin-bottom: 10px;
}

.preBboxInfo {
    width: 360px;
    margin: auto;
    font-size: 1.2em;
}*/

/*
.attributes-grid-bottom {
    height: calc(100% - 30px);
}

.features-grid-bottom {
    height: calc(100% - 64px);
}*/

.dgrid-grid {
    width: 100%;
    overflow: auto;
}

.dgrid-grid .dgrid-scroller{
    overflow-x: scroll;
}

.dgrid-cell {
    width: 90px;
    border-color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 1.1em;
}
.features-grid-bottom .dgrid-header {
    background: #aaa;
}

.features-grid-bottom .dgrid-row-odd {
    background: #fff;
}

.features-grid-bottom .dgrid-row-even {
    background: #d0d6d8;
}
grid
.help-block {
    text-align: left;
}

.dataEntry {
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0;
    position: relative;
}
/*
.featureViewBottom {
    height: calc(100% - 64px);
}

.DataEntry {
    height: 100%;
}*/

.dijitDialogUnderlay {
    background-color: #444;
}
/*
.records_per_page {
    width: 80px
}

.record_counter {
    display: inline-block;
    margin-left: 10px;
}*/

.search_dialog_criteria_middle {
    height: calc(100% - 90px - 50px);
    width: 100%;
}
.criteria_attach{

}

.search_dialog_criteria_bottom {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search_dialog_criteria_top {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.tundra .dijitDialogPaneContent {
    padding: 0; 
    text-align: center;
    flex-flow: column;
    display: flex;
    overflow: hidden;
    height: calc(100% - 28px);
    flex: 0 1 auto;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.crit-form-group {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.crit-left {
    margin-top: 8px;
}
.crit-right {
    margin-bottom: 8px;
}
.crit-nopad {
    padding: 0;
}
.pad-left-8 {
    padding-right: 8px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.layer-icon {
    width:24px;
    height:24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-collapse: collapse;
    display: inline-block;
    transform: translateY(0%);
    margin-right: 5px;
}

.layer-icon.point { background-image: url("code/media/layer_icons/point.png"); }
.layer-icon.line { background-image: url("code/media/layer_icons/line.png"); }
.layer-icon.collection { background-image: url("code/media/layer_icons/collection.png"); }
.layer-icon.poly { background-image: url("code/media/layer_icons/poly.png"); }
.layer-icon.raster { background-image: url("code/media/layer_icons/raster.png"); }
.layer-icon.unknown { background-image: url("code/media/layer_icons/unknown.png"); }
.layer-icon.wms { background-image: url("code/media/layer_icons/wms.png"); }
.layer-icon.wms2 { background-image: url("code/media/layer_icons/wms2.png"); }
.layer-icon.relational { background-image: url("code/media/layer_icons/relational.png"); }


.description-container {
    color: #000;
    padding: 10px;
    background-color: #fff;
    text-overflow: ellipsis;
}


/*.layer_item:nth-child(even) {
    background: #d9dee0;
}
.layer_item:nth-child(odd) {
    background: #b9c2c6
}*/
.dgrid-selected {

}

.layer_item.dgrid-selected {
    background-color: #b5aaa5;
}
/*
.layerlist-left-color {
    background-color: #556268;
}

.layerlist-filter-wrapper {
    text-align: right;
    padding: 22px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.4);
    z-index:50;
    position:relative
}

.layerlist-filter {
    height: 2.75em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.layers_attach {
    height: calc(100% - 82.5px - 30px);
    padding: 0 10px 0 0;
}

.bottom-pane {
    height: 30px;
    -webkit-box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.4);
    z-index: 50;
    position: relative;
}

.layers_attach .dgrid{
    background-color: #202527;
    border: 0;
}*/

/*textarea:focus,
button:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-width: 3px;
    border-color: rgba(136, 120, 112, 0.8);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(190, 181 ,176, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(190, 181 ,176, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(190, 181 ,176, 0.6);
    outline: 0 none;
}*/
.form-control {
    display: inline-block;
}
.form-control:focus {
    border-color: rgba(136, 120, 112, 0.8);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(190, 181 ,176, 0.6);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(190, 181 ,176, 0.6);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(190, 181 ,176, 0.6);
}
.invalid {
    border-color: rgba(255, 69, 69, 0.8);
    -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 69, 69, 0.6);
    -moz-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 69, 69, 0.6);
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 69, 69, 0.6);
} .invalid.form-control:focus {
    border-color: rgba(255, 69, 69, 0.8);
    -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 69, 69, 0.6);
    -moz-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 69, 69, 0.6);
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 69, 69, 0.6);
}


/*.Indicator
{
    position:absolute;
    top:0px;
    left:0px;
    display: table;
    width:100%;
    height:100%;
    text-align: center;
    vertical-align: middle;
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgba(238,238,238,.9) 0%, rgba(204,204,204,.9) 100%);
    background: -webkit-linear-gradient(top, rgba(238,238,238,.9) 0%,rgba(204,204,204,.9) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,.9) 0%,rgba(204,204,204,.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    z-index: 20;
}
body .indicator-on.req-indicator-on, .Indicator table, .incicator-on.req-indicator-label_only  {
    display:table !important;
    cursor: wait;
}*/

.stateful {
    display:none;
}


.data_entry-readonly .req_data_entry-readonly, .data_entry-edit .req_data_entry-edit {
    display:table;
}

.dgrid-no-data {
    padding: 25px;
    font-size:x-large;
}


.ImageInput .img-thumbnail{
 
    border: 3px solid black;
    border-radius: 5px;
    padding: 4px;
    width: 100%;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.CheckboxGroup .checkbox {
margin:0px;
padding:0px;
}
 
.CheckboxGroup span.icon {
vertical-align:middle;
margin-top:-.5em !important;
margin-right: .25em;
}

.data_entry_attach_point > .panel1 {
    height: 60px;
}

.data_entry_attach_point > .panel2 > .panel1 {
    padding: 0px 15px;
}

.data_entry_attach_point > .panel2 > .panel1 #JSONInputField textarea {
    min-height: 200px;
    height: calc(50vh - 85px);
}

.data_entry_attach_point > .panel2 > .panel1 #existingData textarea {
    min-height: 200px;
    height: calc(50vh - 55px);
}

.data_entry_attach_point > .panel2 > .panel1 > #formOutput textarea {
    min-height: 200px;
    height: calc(100vh - 95px);
}

.data_entry_attach_point > .panel2 > .panel2 {
    background-color: #eee;
    padding: 48px 60px;
    margin-bottom: 30px;
    border-radius: 12px;
    flex-grow: 2;
}

.data_entry legend {
    height: 31px;
}

.data_entry fieldset .form-group > div .req_data_entry-readonly {
    padding-top: 7px;
}

.data_entry fieldset .form-group > label {
    display: block;
    position: relative;
    margin-left: 10px;
    padding: 7px 15px 0px;
    text-align: right;
    flex-grow: 1;
    font-weight: bold;
}

.data_entry fieldset .form-group > div {
    padding: 0px 15px;
    flex-grow: 2;
    width: 300px;
}

.data_entry fieldset .form-group > div > input[type=checkbox] {
    position: relative;
    margin-left: 0px;
}

.data_entry fieldset .form-group > div > span[data-dojo-attach-point=help] {
    margin: 5px 0px 10px;
}

.data_entry fieldset .form-group > div .req_data_entry-edit {
    max-width: 50%;
}

.data_entry fieldset .form-group.button_dropdown > div > div {
    max-width: 50%;
}

.data_entry fieldset .form-group > div > input, select {
    max-width: 50%;
}

.workspace-toggle-btn{
 display:none;   
}

.xs .workspace-toggle-btn,
.sm .workspace-toggle-btn {
    display:initial;
}
