.catalog {
    min-width: 600px;
}

/* 
    Created on : Jul 2, 2017, 11:25:05 PM
    Author     : Kevin
*/


@font-face {
    font-family: Roboto-Bold;
    src: url("code/media/fonts/roboto/Roboto-Bold.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto-Medium;
    src: url("code/media/fonts/roboto/Roboto-Medium.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto-Light;
    src: url("code/media/fonts/roboto/Roboto-Light.ttf");
    font-weight: 400;
} 

.hidden {
    display: none !important;
}

.font-primary {
    font-family: 'Roboto-Light', sans-serif;
}
.font-secondary {
    font-family: 'Roboto-Medium', sans-serif;
}
.font-tertiary {
    font-family: 'Roboto-Bold', sans-serif;
}
div {
    font-family: 'Roboto-Light', sans-serif;
}

.color-primary {
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0))),
        url('code/media/images/empty.png');
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    color: #333 ;
}
.workspace,
.color-workspace {
    height:100%;
    background-color: #555;
}
.color-secondary1 {
    /*background-color: #E4E4E4;
    color: #000000;*/
}
.color-secondary2 {
    /*
    background-color: #FFFFFF;
    color: #000000;
    */
}

.border-color-primary {
    border-color: #FFFFFF;
}
.border-color-secondary {
    border-color: #000000;
}

.sl_catalog {
    background: rgb(255,255,255);
    position: absolute;
    /*overflow: hidden; disabled to see miscalculations */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0;
}
.sl_catalog > .panel1 {
    padding: 10px;
    align-items: center;
}
.sl_catalog > .panel1 label {
    margin: 0 15px 0 15px;
    flex: 0 1 auto;
}
/*.sl_catalog > .panel1 select, input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    flex: 1 1 auto;
}
*/

.layer_view > .panel1 {
    /*flex-basis: 350px;*/
    min-width: 350px;
}
.layer_view > .panel1 > .panel1 {
    padding: 10px;    
}

.layer_view > .panel1 > .panel1 > input {
    font-size: 100%;
    /*margin: 15px 5px 15px 5px;*/
}
.layer_view > .panel1 > .panel2 {
    border: 1px;
    border-style: solid;
}

.layer_view .layer_filter_inp {
    width: 17em;
}

.layeritem-description {
    margin: 0;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

.layeritem-name {
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:.5em;
}

.layeritem-name:hover {
    cursor: pointer;
}

.tags-container {

}
.layeritem-tags {
    font-family: 'Roboto-Medium', sans-serif;
    color: #2c3a7f;
    margin-top: 5px;
    padding: 0 7px 0 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
} .layeritem-tags a:hover {
    color: #9fc5e5;
}


.layer_item:hover {
    cursor: pointer;
    box-shadow: inset 1000px 0 0 0 rgba(255, 239, 46, 0.96);
    color: #000;
}
.layer_item {
    padding: 14px;
    display: block;
    position: relative;    
}

.layer_item a:hover {
    color: #fff;;
}
.layer_item.color-secondary1 .layeritem-tags a {
    color: #EEE;
}
.layer_item.color_secondary2 .layeritem-tags a {
    color: #00FF00;
    /*color: #3367BB;*/
}
button.disabled {
    color: #777777;
    cursor: no-drop;
}
.layer_preview img {
    width: 100%;
}

.layer_preview .header-row {
    min-height: 3.75em;
    border-left: 2px solid #555;
}

.pane-bar .header-content {
    font-size: larger;
    height: 100%;
    width:100%;
    padding: .24em;
    line-height:1.25em;
    height:3.5em;
}


.layer_preview > .panel1 {
    /*min-height: 144px;*/
    padding: 0px;
}
.layer_preview > .panel1 > .panel1 > .panel1 {
    font-size: xx-large;
}
.layer_preview > .panel1 > .panel1 > .panel2 {
    font-size: 150%;
    min-height: 30px;
}
.layer_preview > .panel1 > .panel2 {
    /*min-width: 280px; 2 col*/
    min-width: 410px /* 3 col */
}
.layer_preview > .panel1 > .panel2 button {
    height: 40px;
    width: 130px;
    border: 2px;
    border-style: solid;
}
.layer_preview > .panel1 > .panel2 > .panel1 > div > .dropdown-menu > .panel2 button{
    height: 40px;
    width: 100px;
    border-width: 1px;
    margin-bottom: 5px;
}
.dropdown-menu {
    top: 100%;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-header {
    margin-bottom: 5px;
    font-size: 100%;
}

.preview_manager {
    position: relative;
    height:100%;
}

.info_view {
    overflow-y:auto;
    overflow-x: none;
}



.info_view > .panel1 {
    padding: 0 15px 15px 15px;
}
.info_view > .panel1 > .info_item {
    max-height: 330px;
    max-width: 362px;
    background-color: #00f;
}
.info_view > .panel2 {
    padding: 0 15px 15px 0;
}
.info_view .info_item {
    padding-top: 1em;
}
.info_item > .panel1 {
    min-height: 50px;
    font-size: 130%;
    padding: 0 10px 0 10px;
}

.info_item > .panel2 {
    overflow-y: auto;
}
.info_item > .panel1.heading.color-primary {
    background-color: #00f;
}
la
.features_view > .panel1 {
    padding: 6px 15px 6px 15px;
    border: 1px;
    border-style: solid;
}
.features_view > .panel1 > .panel1 > .panel1 {
    font-size: 150%;
}
.features_view > .panel1 > .panel1 > .panel2 {
    font-size: 120%;
    border: 2px;
    border-style: solid;
    height: 30px;
    max-width: 100px;
}
.features_view > .panel1 > .panel1 > .panel3 > input {
    width: 70px;
}
.features_view > .panel1 > .panel2 > .panel1 > .panel2 > input {
    text-align: right;
    width: 70px;
    margin-right: 5px;
}
.features_view > .panel1 > .panel2 > .panel2 > button {
    border: 1px;
    border-style: solid;
    padding: 0;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.feature_view > .panel1 {
    padding: 6px 15px 6px 15px;
    border: 1px;
    border-style: solid;
}
.feature_view > .panel1 > .panel1 > .panel1 {
    font-size: 150%;
    margin-left: 10px;
}
.feature_view > .panel1 > .panel2 > .panel1 > .panel2 {
    margin-right: 10px;
}
.feature_view > .panel1 > .panel2 > .panel1 > .panel2 > input {
    text-align: right;
    width: 70px;
    margin-right: 5px;
}
.feature_view > .panel1 button {
    border: 1px;
    border-style: solid;
    padding: 0;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}



.dgrid.dgrid-list {
    flex: 1 1 auto;
    height: auto;
}
.dgrid-header {
    background-color: #BBB;
}








.form-heading1 {
    font-size: larger;
}
.form-inline .form-heading1 {
    margin-right: .75em;
}

.notVisible {
    visibility: hidden;
    opacity: 0;
}
.indicator {
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgba(238,238,238,.9) 0%, rgba(204,204,204,.8) 100%);
    background: -webkit-linear-gradient(top, rgba(238,238,238,.9) 0%,rgba(204,204,204,.8) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,.9) 0%,rgba(204,204,204,.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: visibility 0s, opacity .1s linear;
    transition: visibility 0s, opacity .1s linear;
}
.indicator-image{
    width: 128px;
    height: 16px;
    background-image: url('code/media/process_ani_horiz.gif');    
}
.indicator-label {
    font-size:2.5em;
    padding-bottom: 10px;
    text-shadow: 2px 2px rgba(255,255,255,.75);
}
.indicator-on.req-indicator-on, .indicator-on.req-indicator-label_only {
    visibility: visible !important;
    opacity: 1 !important;
    cursor: wait;
}

.testmap {
    background-color: #00FF00;
}

.panel {
    width: 100%;
    min-height: 10em;
    margin-bottom: 1em;
    background:#f8f8f8;
}
.MapPanel,
.panel .heading-container {
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0))),
        url('code/media/images/empty.png');
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url('code/media/images/empty.png');
    color: #333 ;
    font-weight: bolder;
    font-size: larger;
    height: 2.5em;
    vertical-align: baseline;
    margin:0px;
    padding:5px;
}
.panel .heading {
    font-weight: normal;
    font-size: large;
    line-height: 2em;
    vertical-align: baseline;
}
.panel .heading-right {
    font-size: larger;
    line-height: 100%;
    vertical-align: baseline;

}

.panel .heading .opt-ui {
    display: inline-block;
}
.panel .content {
    font-family:sans-serif;
    height: Calc(100% - 4em);
    text-align: left;   
    padding: 1em;
    color: #000;
    font-weight: 500;
    background:#f8f8f8;

}



.Legend table td {
    padding:.5em;
}

.Legend .legend-label {
    width: 100%;
    text-overflow: ellipsis;
}

div.LayerMetadataView {
    width:100%;
    height:100%;
    background:#fff;

}

.LayerMetadataView {
    overflow-y: auto;
}

.spacer {
    margin-left:1em;
}

.LayerMetadataView .inline {
    display: inline-block;
}
.LayerMetadataView .list-group,
.LayerMetadataView form,
.LayerMetadataView .list-group-item {
    border: none;
    border-collapse: collapse;
    box-shadow: none;
    box-sizing: inherit;
}



.LayerMetadataView .metaitem-all .req-metaitem-all,
.LayerMetadataView .metaitem-lbl .req-metaitem-lbl,
.LayerMetadataView .metaitem-val .req-metaitem-val {
    display: inline-block !important;	
}   


.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.fully-centered {
    text-align:center;
    vertical-align: middle;
}

.workarea {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
}
.workarea-tool-panel {
    height:4.5em;
    vertical-align:middle;
    line-height:  4em;
    padding: 0em 1.5em 0em 1.5em;
    background: #000;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
}
.workarea-tool-panel h2 {
    float:left;
   
    display: inline-block;
    font-size: 175%;
    vertical-align:middle;
    margin:0px;
    margin-top:.75em;
    padding:0px;
    margin-right:1.5em;
}

.SearchCriteria h3,
.workarea-tool-panel h3 {
    display: inline-block;
    font-size: 125%;
    vertical-align:middle;
    margin:0px;
    padding:0px;
    margin-right:1.5em;
}

.SearchCriteria {
    padding: 0px;
}
.SearchCriteria .MapPanel {
    background-color: #aba4a4;
    opacity:1;
    padding: 0em 0em 0em 1em !important;
    padding-top: 0px !important;


}
.grid {
    height: 100%;
}
.workarea-contents {

    height: Calc(100% - 4.5em);
}

.row-single {
    height: 3em;
    line-height: 3em;
    vertical-align: text-bottom;
}
.row-double {
    height: 6em;
    line-height: 3em;
}
.no-background {
    background:transparent;
}

.inline-adjust-top {
    padding-top:5px;
}
.workarea-tool-panel .form-inline .form-group.pull-right {
    margin-left: 1.5em;
}

.workarea-tool-panel .form-inline .form-group input {
    margin-left: 1em;
    margin-right: .5em;
}
.workarea-tool-panel .form-inline .form-group .last input {
    margin-left: 1em;
    margin-right: 0em;
}
.workarea-tool-panel .pull-left.form-group {
    margin-left: 1.5em;
}
input.inline-numeric-1 {
    padding: .5em !important;
    width: 1.5em !important;
}
input.inline-numeric-2 {
    padding: .5em !important;
    width: 2.5em !important;
}
input.inline-numeric-4 {
    padding: .5em !important;
    width: 3.5em !important;
}
select.form-control.inline {
    width:fit-content;
}
.vr {
    width:1px;
    border: 1px solid;
    height: 100%;    
    margin-left: .25em;
    margin-right: .25em;
}

.no-scroll {
    overflow: hidden;
}

.dropdown-item {
    display: block !important;
}

.criteriaContainer .dgrid-content  {
    margin-top: -1em;
    padding-top:.125em;
}
.criteriaContainer .dgrid,
.criteriaContainer .dgrid-scroller {
    overflow: hidden;
    border: none;
    border-collapse: collapse;
}


.static-result-image {

}
.staticMapContainer {
    height:100%;
    width: 100%;
}

.invis {
    visibility: collapse;
}

.SearchCriteria {
    height:25em;  
}

.leaflet-control-sl-control-panel {
    width: fit-content;
    height: Calc(100% + 4px);
    left: 0px;
    right: 0px;    
    margin: 0px 0px 0px -4px !important;
}
.leaflet-control-sl-control-panel .sl-map-panel-ctl-closed {
    height: fit-content !important;

}

.sl-map-panel-ctl-closed .stateful.req-closed,
.sl-map-panel-ctl-open .stateful.req-open {
    display:initial;
}

.sl-map-panel-ctl-open .instruction-pane.stateful.req-open {
    display:block !important;
}
.sl-map-panel-ctl-open .instruction-pane.stateful.req-open.hidden {
    display:none !important;
}
.criteria-container {
    margin-right:1em;
    background:#fff;
}
.criteria-container .form-control {
    line-height: 3em;
    max-width: initial !important;
    width: 100%;
    margin: .5em .5em 0px .5em;
}

.criteriaitem {
    padding-bottom: 1em;
}

.criteria-container .dgrid-list, 
.criteria-container .grid-container, 
.criteria-container .dgrid-grid {
    height: 3.5em;
    width: 420px;

    border:none;
    border-collapse: collapse;
}
.criteria-container .dgrid-scroller {
    overflow-x: hidden;
    overflow-y: scroll  ;
}
.MapPanel h3 {
    font-weight: bold;
}
.MapPanel .title-bar {
    line-height:3em;
    margin-bottom:1em;
}
.MapPanel table td {
    padding:.0em .25em 0em .25em;
    vertical-align:top;
}
.MapPanel.sl-map-panel-ctl-closed {
    background: transparent;
}

.MapPanel .instruction-pane  {
    width:400px;
    overflow-y: auto;
    opacity: .5;
    color: #000;
    background:rgba(0,0,0,.05);
    font-style: italic;    
    vertical-align: top;
    font-size:large;
    padding:.5em;
    height:Calc(100%);
    text-align:left;
    vertical-align:top;
}

.MapPanel .instructions {

}

.MapPanel .dgrid-scroller {
    padding-right:1em;
}

.info {
    color:#008;
    margin-right: .5em;
}

.layout-inline {
    display: inline-block;
}

.layout-top {
    vertical-align: top;
}
.layout-bottom {
    vertical-align: bottom;
}
.layout-middle {
    vertical-align:middle;
}
.layout-left {
    text-align:left;    
}
.layout-right {
    text-align: right;
}
.layout-center {
    text-align:center;
}
.layout-middle {
    text-align:center;
    vertical-align: middle;
}
.layout-block {
    display:block;
}
.layout-unwrapped {
    white-space:nowrap;
}
.layout-unpadded {
    padding:0px !important;
}
layout-fill-height {
    height:100%;
}

.layout-scrollX-notY {
    overflow-x:auto;
    overflow-y:auto;

}
.layout-fit-content-height {
    height: fit-content;
}
.layout-fit-content-width {
    width: fit-content;
}
.layout-fit-content {
    height: fit-content;
    width: fit-content;
}

.layout-inset {
    padding:.5em;
}

.pane-body {
    clear:both;
}
.pane-body .grid-container {
    height: 100% !important;
}

.pane-body .dgrid {
    height:100% !important;
}

.pane-bar {
    height: 3.75em;
    line-height:3em;
}

.pane-bar .nav-tabs {
    margin-top:.75em;
}

.info_preview_img {
    width:100%;
}


.preview-pane .header-container  {
    float: none;
}

.xs .preview-pane .pane-bar,
.sm .preview-pane .pane-bar,
.md .preview-pane .pane-bar,
.xs .preview-pane .pane-bar .header-row,
.sm .preview-pane .pane-bar .header-row,
.md .preview-pane .pane-bar .header-row
{
    height: 8em;
}

.sm-md .button-container {

}



.xs .button-container,
.sm .button-container,
.md .button-container {
    margin-top:0px;
    width:100%;
    float:left !important;
    min-width:600px;
}

.sans-layer .button-container {
    display:none !important;
}
.dgrid-header .dgrid-cell {
    background:rgb(240,240,240);
}

.nav-tabs>li>a {
    cursor: pointer;
}
.dropdown-menu {
    left:50% !important;
}
.dropdown-menu li {
    text-align:center;
}

.exit-features-btn {
    margin-left: -1.7em;
    margin-right: 1em;
    height: 5.25em;
}

.container.panel {
    width: fit-content;
    padding: 3em;
    height: Calc(100% - 4em);
    overflow: auto;
}

.dgrid {
    background:transparent;
}


.req-metaitem-val {
    min-width: 50%;
    max-width: 50%;
    height: auto;
    vertical-align: top;
    overflow-x: auto;
}

.workspace-contents {
    padding:1em;
}
.metadata-list {
    max-height:Calc(100% - 4.5em);
    overflow-y:auto;


}

.workarea-tool-panel .full-width .form-group {
    display: inline-block;
}

.lg .col-lg-0, .md col-md-0, .sm .col-sm-0, .xs .col-xs-0 {
    display:none;
}

.dgrid-row-odd {
    background:#fff;


}
.dgrid-row-even {
    background:#CCCCFF;
}
.dgrid-selected {
    background: #ff0;
}
.dgrid-row:hover {
    background:#aa0;
}

.criteria-container {
    margin-top:1em;
}
.criteria-container .dgrid-scroller {
    padding-right:0px;
} 
.criteriaitem {
    padding:.5em 1em .5em .5em;
}
.criteriaitem button {
    margin-top:25%;
}
.criteriaitem.dgrid {
    background:#fff;
}

.criteriaitem.dgrid-row-odd {
    background:#F9F9F9;
}

.criteriaitem.dgrid-row-even {
    background:#FFFFFF;
}
.criteriaitem.dgrid-row:hover {
    background:#EEEEEEE;
}

.form-check.inline {
    margin-left: .5em;
}

.criterion-non-spatial .req-nonspatial,
.criterion-spatial .req-spatial {
    display:table-row;
}

.criteriaitem table td {
    padding: 0px;
}

.memory-layer .stateful.req-mem {
    display:initial;
}

.all-layer-icon {
    font-size:18pt;
    color:#0000AA;
}


.ResultsGrid {
        background-color: #ccc;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
    url(code/media/images/empty.png);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url(code/media/images/empty.png);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url(code/media/images/empty.png);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url(code/media/images/empty.png);
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)),
        url(code/media/images/empty.png);
    margin:.5em .5em 1em .5em;
    margin-bottom: 1.5em;
}
.ResultsGrid .dgrid-scroller {
    overflow-y:hidden;
}
.ResultGrid .dgrid-header,
.ResultsGrid .dgrid-cell {
    height: 2em;
    line-height:2em;
    vertical-align:middle;
}
.ResultsGrid .dgrid-header {
    right: 0px;
}
.ResultsGrid .dgrid-header-scroll {
    width: 0px;
}
.ResultsGrid h2 {
    color:#000;
    font-weight:bold;
    font-size:125%;
}
