<div class="dijitDialogPaneContentArea">
	  <div class="color_container">
		  <div data-dojo-attach-point="colorPalette" data-dojo-type="dijit/ColorPalette" ></div>
		  <div data-dojo-attach-point="colorPicker" data-dojo-type="dojox/widget/ColorPicker" ></div>
	  </div>
	  <div>
		  <input type="button" value="Advanced" data-dojo-attach-point="stateButton">
		  <input type="text" value="#000000" class="hex_code" data-dojo-attach-point= "textCode"> 
		  <input type="button" value="Ok" data-dojo-attach-point="okButton">
	  </div>
</div>
