<div>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend data-dojo-attach-point='label'>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Text Input</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text">
  <span class="help-block">help</span>  
  </div>
</div>

</fieldset>
</form>
</div>
