<div>
  <button type="button" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#myModal" data-dojo-attach-point="modal_message">Open Modal</button>

  <div class="modal fade" id="myModal" data-dojo-attach-point="modalMessage" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" data-dojo-attach-point="modalTitle"></h4>
        </div>
        <div class="modal-body">
          <p data-dojo-attach-point="message"></p>
          <div class="progress hidden" data-dojo-attach-point="barData">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-dojo-attach-point="progressBar"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-dojo-attach-point="buttonOne">Ok</button>
          <button type="button" class="btn btn-default hidden" data-dismiss="modal" data-dojo-attach-point="buttonTwo">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>