.color_input .input_box{
	border: solid black 1px;
	height: 40px;
	width: 400px;
	float:left;
}
.color_input .color_swatch{
	border: solid black 1px;
	height: 40px;
	width: 400px;
}
.color_input .hidden{
	display: none !important;	
}
.color_input .visible{
	display: visible !important;
			
}
.color_input .absolute{
	position: absolute !important;
}

.color_input .color_press { 
        background-color: white; 
        border: 2px solid black; 
		
} 
