<div>
    <div class="">
        <div class="inline layout-middle" >
            <span data-dojo-attach-point="layer_icon" class="layer-icon inline"></span>
            <span data-dojo-attach-point="allLayer_icon" class="all-layer-icon glyphicon glyphicon-globe hidden"></span>
        </div>
        <label class="layeritem-name inline layout-middle" data-dojo-attach-point="name"></label>
        <div  class="inline pull-right layout-middle">
            <button data-dojo-attach-point="memoryRecall_btn" type="button" class="stateful btn btn-sm btn-primary req-mem"><span>M</span></button>
        </div>
    </div>
    <div class="">
        <p class="layeritem-description" data-dojo-attach-point="description"></p>
    </div>
    <div class="">
        <div class="layeritem-tags" data-dojo-attach-point="tags"></div>
    </div> <!-- insdie the panels are not finished-->
</div>