<div class="form-group">
    <label data-dojo-attach-point="label" class="flex-item same control-label">Password Input</label>
    <div class="flex-item same">
        <input data-dojo-attach-point="passinput" type="password" placeholder="placeholder" class="form-control">
        <span data-dojo-attach-point="help" class="help-block">help</span>
    </div>
</div>
