<div class="form-group">
  <label data-dojo-attach-point="label" class="flex-item same" for="xpendedtext">XPended Text</label>
  <div class="flex-container flex-item col same">
    <div data-dojo-attach-point="xPendedText_readonly" class="stateful req_data_entry-readonly"></div>
    <div class="flex-container flex-item input-group">
      <div class="flex-container flex-item row input-group stateful req_data_entry-edit">
        <span data-dojo-attach-point="prepend" class="flex-item no-grow input-group-addon">prepend</span>
        <input data-dojo-attach-point="xpendedtext" id= "xpendedtext" name="xpendedtext" class="flex-item no-grow form-control" placeholder="placeholder" type="text">
        <span data-dojo-attach-point="append" class="flex-item no-grow input-group-addon">append</span>
      </div>
    </div>
    <span data-dojo-attach-point="help" class="stateful req_data_entry-edit help-block">help</span>
  </div>
</div>