<div class="workarea no-scroll  ">

    <form action="#" class="workarea-tool-panel">
        <h2>
            Metadata for layer <span data-dojo-attach-point="layerName_head"></span>
        </h2>
        <div data-dojo-attach-point="item_tpl" class="hidden">
            <li class="{opt_inline} {state} list-group-item">{spacers} <label
                    class="stateful req-metaitem-all req-metaitem-lbl"
                    >{label}</label><span class='spacer stateful req-metaitem-all'></span> <span
                    class="stateful req-metaitem-all req-metaitem-val"
                    >{value}</span></li>
        </div>

    </form>
    <div class="workspace workspace-contents">
        <ul data-dojo-attach-point="metadata_ul" class="metadata-list  list-group">
        </ul>
    </div>
</div>