<div>
    <table role="layout">
        <tbody>
            <tr class="form-group"><td><button data-dojo-attach-point="destroy_item" type="button" class="btn btn-danger btn-sm">x</button></td>
                <td><select class="form-control custom-select custom-select-sm" data-dojo-attach-point="andor_select">
                        <option value="and">And</option>
                        <option value="andnot">And Not</option>
                        <option value="or">Or</option>
                        <option value="ornot">Or Not</option>
                    </select>
                </td>
                <td><select class="form-control custom-select custom-select-sm" data-dojo-attach-point="field_select">
                    </select></td>
                <td> <select class="form-control custom-select custom-select-sm" data-dojo-attach-point="operator_select" placeholder="">
                        <option class="stateful req-spatial" data-dojo-attach-point="op_option_tpl" data-value="{value}" >{label}</option>
                    </select>
                </td>                
            </tr>
            <tr class="stateful req-nonspatial"><td>&nbsp;</td><td colspan="3">
                    <input type="text" class="form-control criteria-input" placeholder="value to search for" data-dojo-attach-point="value_input">
                </td></tr>
            <tr class="stateful req-spatial"><td>&nbsp;</td><td colspan="3">
                    <form data-dojo-attach-point="bufferContainer" action="#" class="form-inline">

                        <label>Buffer by </label><input data-dojo-attach-point="buffer_input" class="form-control inline-numeric-4" type="text" size="5"></input>
                        <select data-dojo-attach-point="units_sel" class="form-control inline">
                            <option value="ft">feet</option>
                            <option value="mi">miles</option>
                            <option value="m">meters</option>
                            <option value="km">kilometers</option>                                                        
                        </select>

                    </form>
                </td></tr>

        </tbody>

    </table>

</div>