/* 
    Created on : Aug 1, 2017, 12:51:30 AM
    Author     : Kevin
*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    /* DEFAULTS
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;*/
}

/*FLEX DIRECTIONS*/
.flex-container.col {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-container.row {
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flex-container.row-reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.flex-container.col-reverse {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

/*FLEX WRAP*/
.flex-container.nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-container.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-container.wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

/*FLEX JUSTIFY CONTENT*/
.flex-container.justify-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flex-container.justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex-container.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-container.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-container.space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-container.space-evenly {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}

/* FLEX ALIGN ITEMS*/
.flex-container.align-items-start{
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-container.align-items-end{
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-container.align-items-center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-container.align-items-baseline{
    -webkit-align-items: baseline;
    align-items: baseline;
}
.flex-container.align-items-stretch{
    -webkit-align-items: stretch;
    align-items: stretch;
}

/*FLEX ALIGN CONTENT*/
.flex-container.align-content-start {
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
.flex-container.align-content-end {
    -webkit-align-content: flex-end;
    align-content: flex-end;
}
.flex-container.align-content-center {
    -webkit-align-content: center;
    align-content: center;
}
.flex-container.space-content-between {
    -webkit-align-content: space-between;
    align-content: space-between;
}
.flex-container.space-content-around {
    -webkit-align-content: space-around;
    align-content: space-around;
}
.flex-container.space-content-stretch {
    -webkit-align-content: stretch;
    align-content: stretch;
}


.flex-item {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    /* DEFAULTS
    flex-grow: 1;
    order: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;*/
}
.flex-item.no-grow {
    -webkit-flex-grow: 0;
    flex-grow: 0;
}
.flex-item.no-shrink {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.flex-item.same {
    flex-basis: 0;
}

.flex-item.align-auto {
    -webkit-align-self: auto;
    align-self: auto;
}
.flex-item.align-start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}
.flex-item.align-end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
}
.flex-item.align-center {
    -webkit-align-self: center;
    align-self: center;
}
.flex-item.align-baseline {
    -webkit-align-self: baseline;
    align-self: baseline;
}
.flex-item.align-stretch {
    -webkit-align-self: stretch;
    align-self: stretch;
}