/* 
    Created on : Jul 2, 2017, 11:25:05 PM
    Author     : Kevin
*/
 
@font-face {
    font-family: Roboto-Bold;
    src: url("media/fonts/roboto/Roboto-Bold.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto-Medium;
    src: url("media/fonts/roboto/Roboto-Medium.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto-Light;
    src: url("media/fonts/roboto/Roboto-Light.ttf");
    font-weight: 400;
} 

.hidden {
    display: none !important;
}

.font-primary {
    font-family: 'Roboto-Light', sans-serif;
}
.font-secondary {
    font-family: 'Roboto-Medium', sans-serif;
}
.font-tertiary {
    font-family: 'Roboto-Bold', sans-serif;
}
div {
    font-family: 'Roboto-Light', sans-serif;
}

.color-primary {
    background-color: #3367BB;
    color: #FFFFFF;
}
.color-secondary1 {
    background-color: #E4E4E4;
    color: #000000;
}
.color-secondary2 {
    background-color: #FFFFFF;
    color: #000000;
}

.border-color-primary {
    border-color: #FFFFFF;
}
.border-color-secondary {
    border-color: #000000;
}

.sl_catalog {
    background: rgb(255,255,255);
    position: absolute;
    /*overflow: hidden; disabled to see miscalculations */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0 30px 0 30px; /*TESTING, original = 0*/
    margin: 0;
}
.sl_catalog > .panel1 {
    padding: 10px;
    align-items: center;
}
.sl_catalog > .panel1 label {
    margin: 0 15px 0 15px;
    flex: 0 1 auto;
}
.sl_catalog > .panel1 select, input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    flex: 1 1 auto;
}

.layer_view > .panel1 {
    /*flex-basis: 350px;*/
    min-width: 350px;
    margin-right: 15px;
}
.layer_view > .panel1 > .panel1 {
    margin-bottom: 3px;
    padding: 10px;
    min-height: 144px;
}
.layer_view > .panel1 > .panel1 > div {
    font-size: 250%;
}
.layer_view > .panel1 > .panel1 > input {
    font-size: 120%;
    margin: 15px 5px 15px 5px;
}
.layer_view > .panel1 > .panel2 {
    border: 1px;
    border-style: solid;
}

button.disabled {
    color: #777777;
    cursor: no-drop;
}
.layer_preview > .panel1 {
    min-height: 144px;
    padding: 25px;
}
.layer_preview > .panel1 > .panel1 > .panel1 {
    font-size: 300%;
}
.layer_preview > .panel1 > .panel1 > .panel2 {
    font-size: 150%;
    min-height: 30px;
}
.layer_preview > .panel1 > .panel2 {
    /*min-width: 280px; 2 col*/
    min-width: 410px /* 3 col */
}
.layer_preview > .panel1 > .panel2 button {
    height: 40px;
    width: 130px;
    border: 2px;
    border-style: solid;
}
.layer_preview > .panel1 > .panel2 > .panel1 > div > .dropdown-menu > .panel2 button{
   height: 40px;
   width: 100px;
   border-width: 1px;
   margin-bottom: 5px;
}
.dropdown-menu {
    top: 100%;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-header {
    margin-bottom: 5px;
    font-size: 100%;
}

.preview_manager {
    position: relative;
}

.info_view {
    
}
.info_view > .panel1 {
    padding: 0 15px 15px 15px;
}
.info_view > .panel1 > .info_item {
    max-height: 330px;
    max-width: 362px;
}
.info_view > .panel2 {
    padding: 0 15px 15px 0;
}
.info_view .info_item {
    margin-top: 15px;
}
.info_item {
    border: 1px solid #777777;
}
.info_item > .panel1 {
    min-height: 50px;
    font-size: 130%;
    padding: 0 10px 0 10px;
}
.info_item > .panel1 > button {
    height: 40px;
    width: 130px;
    border: 2px;
    border-style: solid;
}
.info_item > .panel2 {
    overflow-y: auto;
}

.features_view > .panel1 {
    padding: 6px 15px 6px 15px;
    border: 1px;
    border-style: solid;
}
.features_view > .panel1 > .panel1 > .panel1 {
    font-size: 150%;
}
.features_view > .panel1 > .panel1 > .panel2 {
    font-size: 120%;
    border: 2px;
    border-style: solid;
    height: 30px;
    max-width: 100px;
}
.features_view > .panel1 > .panel1 > .panel3 > input {
    width: 70px;
}
.features_view > .panel1 > .panel2 > .panel1 > .panel2 > input {
    text-align: right;
    width: 70px;
    margin-right: 5px;
}
.features_view > .panel1 > .panel2 > .panel2 > button {
    border: 1px;
    border-style: solid;
    padding: 0;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.feature_view > .panel1 {
    padding: 6px 15px 6px 15px;
    border: 1px;
    border-style: solid;
}
.feature_view > .panel1 > .panel1 > .panel1 {
    font-size: 150%;
    margin-left: 10px;
}
.feature_view > .panel1 > .panel2 > .panel1 > .panel2 {
    margin-right: 10px;
}
.feature_view > .panel1 > .panel2 > .panel1 > .panel2 > input {
    text-align: right;
    width: 70px;
    margin-right: 5px;
}
.feature_view > .panel1 button {
    border: 1px;
    border-style: solid;
    padding: 0;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}



.dgrid.dgrid-list {
    flex: 1 1 auto;
    height: auto;
}
.dgrid-header {
    background-color: #BBB;
}










.notVisible {
    visibility: hidden;
    opacity: 0;
}
.indicator {
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgba(238,238,238,.9) 0%, rgba(204,204,204,.8) 100%);
    background: -webkit-linear-gradient(top, rgba(238,238,238,.9) 0%,rgba(204,204,204,.8) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,.9) 0%,rgba(204,204,204,.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: visibility 0s, opacity .1s linear;
    transition: visibility 0s, opacity .1s linear;
}
.indicator-image{
    width: 128px;
    height: 16px;
    background-image: url('media/process_ani_horiz.gif');    
}
.indicator-label {
    font-size:2.5em;
    padding-bottom: 10px;
    text-shadow: 2px 2px rgba(255,255,255,.75);
}
.indicator-on.req-indicator-on, .indicator-on.req-indicator-label_only {
    visibility: visible !important;
    opacity: 1 !important;
    cursor: wait;
}

.testmap {
    background-color: #00FF00;
}