<div >
    <form class="flex-container flex-item form-horizontal col" data-dojo-attach-point="entryForm">
        <legend class="flex-item no-grow" data-dojo-attach-point='formName'>Form Name</legend> 
        <fieldset class="flex-container flex-item col" data-dojo-attach-point="fieldSet"></fieldset>
    </form>
</div>
