<div class="form-group">
	<label data-dojo-attach-point="label" class="flex-item same control-label" for="cb">Text Input</label>  
	<div class="flex-item same">
            <input data-dojo-attach-point="cb" name="cb" class="checkbox" type="checkbox">
            <span data-dojo-attach-point="help" class="help-block">help</span>
	</div>
</div>