<div class="form-group">
    <label data-dojo-attach-point="label" class="flex-item same control-label" for="searchinput">Search Input</label>
    <div class="flex-item same">
        <div data-dojo-attach-point="searchInput_readonly" class="stateful req_data_entry-readonly"></div>
        <div class="input-group stateful req_data_entry-edit">
            <input data-dojo-attach-point="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control"> 
            <span data-dojo-attach-point="help" class="help-block">help</span>
        </div>
    </div>
</div>
