<div>
	Font Type <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="typeSelector" class="select"></select>
	Weight <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="weightSelector" class="select"></select>
	<input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="italicOption" class="hidden"> Italic 
</div>