<dt class="__name___header" >__alias__</dt>
<dd>
<input class="__name___input" name="__name__" type="text" size="40" ></input>
<textarea class="__name___input_ta" name="__name__" type="text" cols="43" ></textarea>
<label class="__name___view"></label>
</dd>