<div>
    <div data-dojo-type="dijit/Dialog" data-dojo-id="myDialog" data-dojo-attach-point="dialog" title="Search">
        <div class="row flex-top search_dialog_criteria_top">
            <div class="dijitDialogPaneContentArea">
                <div class="row">
                    <div class="col-xs-4 text-left">
                        <button type="button" class="btn btn-default btn-sm" data-dojo-attach-point="addCriteriaButton">Add Criteria</button>
                    </div>
                    <div class="col-xs-8 text-right">
                        <div data-dojo-attach-point="recordCounter" data-dojo-type="sl_components_open/record_counter/RecordCounter"></div>
                    </div>
                </div>
            </div>
            <div class="dijitDialogPaneContentArea">
                <div class="row">
                    <div class="col-xs-12" data-dojo-attach-point="searchTip"></div>
                </div>
            </div>
        </div>
        <div class="row flex-bottom search_dialog_criteria_middle">
            <div class="criteria_attach flex-container flex-item" data-dojo-attach-point="criteria_attach_point"></div>
        </div>
        <div class="row flex-top search_dialog_criteria_bottom">
            <div class="col-xs-6 text-right">
                <button type="button" class="btn btn-default btn-sm" data-dojo-attach-point="searchButton">Search</button>
            </div>
            <div class="col-xs-6 text-left">
                <button type="button" class="btn btn-default btn-sm" data-dojo-attach-point="cancelButton">Cancel</button>
            </div>
        </div>
    </div>
</div>