<div class="grid_container">
	<div class="row">
		<Button class="btn btn-default" data-dojo-attach-point="addButton" type="button">Add Project</Button>
		<button class="btn btn-default" data-dojo-attach-point="refreshButton" type="button">Refresh</button>
		<Button class="btn btn-default" data-dojo-attach-point="saveButton" type="button">Save Changes</Button>		
	</div>
	<div class="row listing">
		<div data-dojo-attach-point="projectGrid"></div>
	</div>
</div>