.panel-header{
    height: 200px;
    width:auto;
    background-color: #eee;
    border:solid black;    
}

.panel-editor{
    white-space: nowrap;
   
    height:400px;
    border:1px solid black;
    display:inline-block;
    width:500px;
    
}

.panel-body{
    white-space: normal;
    vertical-align: top;
   border:solid black;
    height:400px;
    display:inline-block;
    font-size: 50px;
    margin:0;
    width: 1000px;
    overflow-y:scroll;
}

.panel-footer{
    height:100px;
    border:solid black;
    width:auto;
    text-align:center;

   border:solid black;
}

.HeaderRow{
    border:1px solid black;
    width:full;
}

h1{
    border:dashed;
    margin: 10px;
    width:270px;
    align:center;
}

.assignment_cell{
    border:dashed;
    margin: 10px;
   
    font-size:20pt;
  
}

.developer_cell{
    border:dashed;
    margin: 10px;
    font-size:20pt;
    }

.company_cell{
    border:dashed;
    margin: 10px;
    font-size:20pt;
    padding:5px;
}

.new_user_form{
    font-size:18pt;
    border-collapse: collapse;
    width: full;
    border: 1px solid black;
    margin:10px;
    text-align:right;
    border-collapse: collapse;
}

table, td, tr{
    border-collapse:collapse;
    border:1px solid black;
    width:auto;
    margin:5px;
    padding:4px;
}

th{
    border:1px solid black;
}

input{
    padding:4px;
    align:left;
}

.footer_layout{
    border-collapse:separate;
    border:0px solid black;
    border-spacing:10px;
    width:100%;
    text-align: left;
    padding: 8px;
}

.Error{
    border: 1px solid red;
}
