<div class="form-group">
	<label data-dojo-attach-point="label" class="flex-item control-label same" for="textarea">Text Area</label>
	<div class="flex-item same">
		<textarea data-dojo-attach-point="textarea" class="form-control" id="textarea" name="textarea">default text</textarea>
	</div>
</div>