<div >
    <div class="pane-bar" data-dojo-attach-point="headerBar"></div>
    <div class="pane-body" data-dojo-attach-point="paneBody"></div>
    <div class="pane-footer hidden" data-dojo-attach-point="footerBar"></div>
    <div data-dojo-attach-point="containerNode"></div>

</div>		