<div>
<h1 data-dojo-attach-point='heading' >Sample Widget</h1>
<label data-dojo-attach-point='label'></label>
<div data-dojo-attach-point="sample2" data-dojo-type="sl_components_open/sample/sample2"></div>
</div>