<div class="">
    <div class="info_item col-lg-4">
        <div class="info-widget info_preview" data-content-class="none" data-dojo-attach-point="info_preview" data-heading="Preview" data-dojo-type="sl_components_open/ws_widget/WSWidget">
            <button data-target="heading-right" class="button btn btn-sm btn-primary" type="button">View on Map</button>
            <div class="flex-item flex-container justify-center color-secondary2 panel2">
                <img class="info_preview_img" data-dojo-attach-point="preview_image" src="" alt="Image couldn't be loaded.">
            </div>
        </div>
        
        <div class="info-widget" data-dojo-attach-point="info_legend" data-heading="Legend" data-dojo-type="sl_components_open/ws_widget/WSWidget">
            <div data-dojo-attach-point="legend" data-dojo-type="sl_components_open/legend/Legend">
                
            </div>
        </div>
    </div>
    <div class="info_item col-lg-6">
        <div class="info-widget" data-dojo-attach-point="info_description" data-heading="Description" data-dojo-type="sl_components_open/ws_widget/WSWidget"
             >
            <div data-dojo-attach-point="description" ></div>
        </div>
        <div class="info_widget" data-dojo-attach-point="info_tags" data-heading="Tags" data-dojo-type="sl_components_open/ws_widget/WSWidget">
            <div data-dojo-attach-point="tags"></div>
        </div>
        <div class="info_widget" data-dojo-attach-point="info_webservice" data-heading="Web Services" data-dojo-type="sl_components_open/ws_widget/WSWidget">
            <div data-dojo-attach-point="webservice" class="flex-item flex-container justify-center color-secondary2 panel2"></div>
        </div>
        <div class="info_widget" data-dojo-attach-point="info_maps" data-heading="Maps using this layer" data-dojo-type="sl_components_open/ws_widget/WSWidget">
            <div data-dojo-attach-point="maps" class="flex-item flex-container justify-center color-secondary2 panel2"></div>
        </div>
        <div class="info_widget" data-dojo-attach-point="info_sublayers" data-heading="Sub Layers" data-dojo-type="sl_components_open/ws_widget/WSWidget">
            <div data-dojo-attach-point="sublayers" class="flex-item flex-container justify-center color-secondary2 panel2"></div>
        </div>
    </div>
    <div class="info_item col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
</div>