<div class="workarea">
    <div class="workarea-tool-panel">
        <div class="full_width text-left">
            <h2>Attributes</h2>
        </div>
    </div>
    <div class="workspace workarea-contents">
        <div class="grid-container" data-dojo-attach-point="grid"></div>
        <div data-dojo-attach-point="fieldSet" class="hidden"></div>
    </div>
</div>