<div class="form-group">
	<label data-dojo-attach-point="label" class="flex-item same control-label" for="textinput">Text Input</label>  
	<div class="flex-item same">
                <div data-dojo-attach-point="textinput_readonly" class="stateful req_data_entry-readonly"></div>
		<input data-dojo-attach-point="textinput" name="textinput" placeholder="placeholder" class="stateful req_data_entry-edit form-control" type="text">
		<span data-dojo-attach-point="help" class="stateful req_data_entry-edit help-block">help</span>  
	</div>
</div>