.hex_code{
	border: solid black 1px;
	height: 18px;
	width: 100px;
}
.dijitDialogPaneActionBar{
	margin-bottom: 1px;
}
.color_container{
	height: 170px;
}
.colorPicker_dialog{
	height: 185px;
}
.hidden{
	display: none !important;	
}