<div class="form-group">
    <label class="col-md-4 control-label" data-dojo-attach-point="label">States</label>
    <div class="col-md-4">
        <div data-dojo-attach-point="state_readonly" class="stateful req_data_entry-readonly"> </div>
        <div class="input-group stateful req_data_entry-edit">
            <select data-dojo-attach-point="list" class="form-control">
            </select>
        </div>
        <span data-dojo-attach-point="help" class="help-block">help</span>
    </div>
</div>