<div>
    <div data-dojo-attach-point="headerBar" class="header-row color-primary" data-pane-target="headerBar"  >
        <div class="layout-inline header-container">
            <div class="header-content" >
                <div class="inline layout-top">
                    <a class="workspace-toggle-btn" data-dojo-attach-point="toggle_btn" href="#">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                </div>
                <div class="inline">
                    <div class="" data-dojo-attach-point="name">Select a Layer</div>
                    <div class="header-info font-secondary" data-dojo-attach-point="last_modified"></div>
                </div>
            </div>
        </div>
        <div class="layout-inline pull-right button-container" data-dojo-attach-point="buttons">
            <div class="">
                <ul class="nav nav-tabs">
                    <li data-dojo-attach-point="overview_li" class="active navigable">
                        <a data-dojo-attach-point="overview_a" data-toggle="pill" href="#overview">Overview</a>
                    </li>
                    <li data-dojo-attach-point="classification_li" class="navigable hidden">
                        <a data-dojo-attach-point="classificaion_a" data-toggle="pill" href="#classification">Classification</a>
                    </li>
                    <li data-dojo-attach-point="metadata_li" class="navigable">
                        <a data-dojo-attach-point="metadata_a" data-toggle="pill" href="#metadata">Metadata</a>
                    </li>
                    <li data-dojo-attach-point="records_li" class="navigable">
                        <a data-dojo-attach-point="records_a" data-toggle="pill" href="#records">Records</a>
                    </li>
                    <li data-dojo-attach-point="export_li" class="dropdown">
                        <a class="drop-down-toggle" data-toggle="dropdown">Export<span class="caret"></span></a>
                        <ul data-dojo-attach-point="export_menu" class="dropdown-menu" >
                            <li><a data-dojo-attach-point="csv_a" href='#export_csv'>CSV</a></li>
                            <li><a data-dojo-attach-point="kml_a" href='#export_kml'>KML</a></li>
                            <li><a data-dojo-attach-point="shp_a" href='#export_shp'>SHP</a></li>                                                        
                        </ul>
                    </li>
                    <li data-dojo-attach-point="attributes_li" class="navigable">
                        <a data-dojo-attach-point="attributes_a" data-toggle="pill" href="#attributes">Attributes</a>
                    </li>
                </ul>
                <iframe data-dojo-attach-point="downloadFrame" class="hidden"></iframe>
                <!--<button class="btn btn-sm border-color-secondary font-secondary" title="Information" data-dojo-attach-point="info_button">Overview</button>
                
                <div class="dropdown">
                    <button class="xcolor-primary border-color-secondary font-secondary" title="Export" data-toggle="dropdown" data-dojo-attach-point="save_button">Download</button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Export as</li>
                        <li class="flex-container col align-items-center panel2">
                            <button  class="hidden border-color-primary color-secondary1" title="Export as CSV">CSV</button>
                            <button  class="hidden border-color-primary color-secondary1" title="Export as KML">KML</button>
                            <button  class="hidden border-color-primary color-secondary1" title="Export as Shp">SHP</button>
                        </li>
                    </ul>
                </div>
                <button class="hidden color-primary font-secondary border-color-secondary" title="Classification" data-dojo-attach-point="classification_button">Classification</button>
                
                <div class="flex-item flex-container space-evenly align-items-center justify-end panel2">
                <button class="hidden color-primary border-color-secondary font-secondary" title="Metadata" data-dojo-attach-point="metadata_button">Metadata</button>
                <button class="color-primary font-secondary border-color-secondary" title="Records" data-dojo-attach-point="features_button">Records</button>
                <button class="color-primary font-secondary border-color-secondary" title="Attributes" data-dojo-attach-point="attributes_button">Attributes</button>
                -->
            </div>
        </div>
    </div>
    <div class="workspace" data-pane-target="paneBody" >
        <div data-dojo-attach-point="previewManager" data-dojo-type="PreviewManager">
            <div data-dojo-attach-point="progress_indicator" data-dojo-type="Indicator"></div>
            <div data-dojo-attach-point="infoView" data-dojo-type="InfoView" data-preview="view_info"></div>            
            <div data-dojo-attach-point="metadataView" data-dojo-type="sl_components_open/layer_metadata_view/LayerMetadataView" data-preview="view_metadata"></div>

            <div data-dojo-attach-point="featuresView" data-dojo-type="FeaturesView" data-preview="view_features"></div>
            <div data-dojo-attach-point="featureView" data-dojo-type="FeatureView" data-preview="view_feature"></div>
            <div data-dojo-attach-point="attributesView" data-dojo-type="AttributesView" data-preview="view_attributes"></div>
        </div>
    </div>    
</div>