<div class="form-group">
    <label data-dojo-attach-point="label" class="col-md-4 control-label">URL</label>
    <div class="col-md-4">
        <a data-dojo-attach-point="urlText_readonly" class="stateful req_data_entry-readonly"> </a>
        <div class="input-group stateful req_data_entry-edit">
            <input data-dojo-attach-point="urlText" class="form-control" type="text" placeholder="url">
            <span class="input-group-addon">
                <input id="get" data-dojo-attach-point="urlButton" type="button">
                
            </span>
            <div data-dojo-attach-point="thumbnail_readonly" class="input-group thumbnail req_data_entry-readonly"></div>
            <div class="input-group thumbnail req_data_entry-edit">
                <a target="_blank" data-dojo-attach-point="anchor" >
                    <img id="img-thumbnail" data-dojo-attach-point="image" >
                </a>
            </div>
                                                
            <div>
                <input data-dojo-attach-point="chooser" id="file_chooser" type="file" value="pic" class="my-file">
            </div>

        </div>
        <span data-dojo-attach-point="help" class="help-block">help</span>
    </div>

</div>