<div class="form-group">
    <label class="flex-item same control-label" data-dojo-attach-point="label">Select Basic</label>
    <div class="flex-item same">
        <select data-dojo-attach-point="select" class="form-control"></select>
    </div>
</div>