<div class="form-group">
    <label data-dojo-attach-point="label" class="flex-item same control-label">URL</label>
    <div class="flex-container flex-item same">
        <a data-dojo-attach-point="urlText_readonly" class="stateful req_data_entry-readonly"> </a>
        <div class="flex-container flex-item same no-grow row justify-start input-group stateful req_data_entry-edit">
            <input data-dojo-attach-point="urlText" class="flex-item form-control" type="text" placeholder="url">
            <span class="flex-item input-group-addon">     
                <input data-dojo-attach-point="urlButton" type="button">     
            </span>
        </div>
        <span data-dojo-attach-point="help" class="stateful req_data_entry-edit help-block">help</span>
    </div>
</div>