<div class="workarea no-scroll">
    <div class="workarea-tool-panel">
        <div class="full-width">
            <form action="#" onSubmit="return false;" class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-sm btn-primary exit-features-btn" data-dojo-attach-point="return"><</button>
                    <h2 class="">Record</h2>
                </div>

                <div class="form-group">
                    <span class="">Record</span>
                    <input type="text" class="inline-numeric-4 form-control" data-dojo-attach-point="record_start">
                     <span  data-dojo-attach-point="record_text">of 1000</span>                   
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-sm btn-primary" data-dojo-attach-point="left"><</button>
                    <button type="button" class="btn btn-sm btn-primary" data-dojo-attach-point="right">></button>
                </div>
            </form>
        </div>
    </div>
    <div class="workspace workspace-contents">
        <div class="panel container" data-dojo-attach-point="fieldSet"></div>
       
    </div> <!-- TO DO: INSIDE OF THE PANELS; BUTTONS, LABEL, P, RECORD STUFF -->
</div>