<div>
    <div data-dojo-attach-point="layerPane" class="col-xs-12 col-sm-12 col-md-4 col-lg-3 layout-unpadded col full-height" data-dojo-type="sl_components_open/pane/Pane">
        <div data-pane-target="headerBar">
            <div class="form-inline layout-unwrapped">
                <label class="form-heading1 font-tertiary" data-dojo-attach-point="label">Layer List</label>
                <input class="form-control layer_filter_inp" data-dojo-attach-point="filter" type="text" placeholder="Search">
                <a data-dojo-attach-point="toggle_btn" href="#" class="hidden"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>
        <div data-pane-target="paneBody" class="grid-container border-color-primary2" data-dojo-attach-point="layers_attach_point"></div>
    </div>
    <div data-dojo-attach-point="workspacePane" class="col-xs-12 col-sm-12 col-md-8 col-lg-9 layout-unpadded col  full-height preview-pane" data-dojo-type="sl_components_open/pane/Pane">
        <div  class="" data-dojo-attach-point="layerPreview" data-dojo-type="sl_components_open/layer_preview/LayerPreview"></div>
    </div>
</div>