<div class="form-group">
    <label class="flex-item same control-label" data-dojo-attach-point="label"> This button finds the user's location. </label>
  <div class="flex-item same">
      <input type="button" class="btn btn-primary" data-dojo-attach-point="locateButton" value="Get Location"> <br>
      <label class="control-label" data-dojo-attach-point="locationData"></label>
  </div>
</div>