<div class="form-group">
	<label class="col-md-4 control-label" data-dojo-attach-point="label">Multiple Radios</label>
        <div class="radio col-md-8" data-dojo-attach-point="radiogroup"></div>
</div>