<div >

    <table class="full-height">
        <tbody>
            <tr>
                <td>
                    <div class="title-bar" >
                        <button data-dojo-attach-point="toggle_btn" type="button" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-chevron-left stateful req-open"></span>
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="glyphicon glyphicon-chevron-right stateful req-closed"></span>
                        </button><label data-dojo-attach-point="title"></label><span data-dojo-attach-point="titleContent"></span>
                    </div>
                    <div data-dojo-attach-point="panelContent" class="stateful req-open">

                    </div>

                </td>
                <td class="stateful req-open instruction-pane" data-dojo-attach-point="instructionPane" >
                    <span class="info glyphicon glyphicon-info-sign"></span><label data-dojo-attach-point="heading"></label>
                    <div class="instructions" data-dojo-attach-point="instruction_txt"></div>
                </td>
            </tr>

        </tbody>
    </table>

</div>
