<div class="full-width full-height workarea no-background no-scroll">
    <div class="workarea-tool-panel">
        <form class="form-inline clearfix">
            <h2>Layer Records</h2>
            <div class="form-group form-inline pull-right last ">   
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-primary" data-dojo-attach-point="search_button">Search</button>
                    <button type="button" class="btn btn-primary dropdwon-toggle" data-dojo-attach-point="searchToggle"><span class="spacer caret"></span></button>
                </div>
            </div>
            <div class="form-group form-inline pull-right record-counter-ui" data-dojo-attach-point="recordCounter" data-dojo-type="RecordCounter"></div>
            <div class="form-group form-inline pull-right record-counter-ui">
                <button type="button" class="btn btn-primary" data-dojo-attach-point="prevPage_btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
                <button type="button" class="btn btn-primary" data-dojo-attach-point="nextPage_btn"><span class="glyphicon glyphicon-triangle-right"></span></button>
            </div>
            <div class="form-group form-inline pull-right record-counter-ui">
                <label>Displaying Record </label>
                <input type="text" class="inline-numeric-4 form-control" data-dojo-attach-point="record_start">
                <label class="" data-dojo-attach-point="record_text">to 50 of 1000</label>
                <span class="spacer"></span>
            </div>

        </form>
    </div>

    <div class="workarea-contents no-background no-scroll">
        <div  data-dojo-attach-point="advSearch" class="row">
            <div data-dojo-attach-point="searchCriteria" data-dojo-type="sl_components_open/search_criteria/SearchCriteria"></div>
        </div>
        <div data-dojo-attach-point="gridContainer" class="grid-container">
            <div class="grid" data-dojo-attach-point="grid"></div>            
        </div>
    </div> <!--TO DO: FIX THE BUTTON CLASSES AND FINISH UP LABELS, P, etc (the content inside the panels)-->

</div>